*, *:before, *:after {
	box-sizing: border-box;
}
html {
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html,
body {
	height: 100%;
	width: 100%;
}
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	display: flex;
}
main {
	position: relative;
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns:
							[grams-start] 65%
							[grams-end stations-start] 33%
							[stations-end];
	grid-template-rows:
							[h1-start] auto
							[h1-end stations-start grams-start legend-start] auto
							[stations-end] 30px
							[grams-end];
	grid-row-gap: 10px;
	grid-column-gap: 2%;
}

figure {
	margin: 0;
}


/*Start Seismogram cell inner grid*/
.viz-grams {
	grid-row: grams-start / grams-end;
	grid-column: grams-start / grams-end;
	display: grid;
	grid-template-rows:
							[gram-east-start] 250px
							[gram-east-end gram-north-start] 250px
							[gram-north-end gram-z-start] 250px
							[gram-z-end gram-x-axis-start] 30px
							[gram-x-axis-end];
	grid-template-columns:
							[label-start] minmax(auto, 5%)
							[label-end grams-start] 95%
							[grams-end];
}
.viz-grams h2 {
	grid-column: label-start / label-end;
	font-size: 14px;
	margin: 0;
	font-weight: normal;
	letter-spacing: 0.03em;
	color: gray;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	text-align: center;
}
.label-east {
	grid-row: gram-east-start / gram-east-end;
}
.label-north {
	grid-row: gram-north-start / gram-north-end;
}
.label-z {
	grid-row: gram-z-start / gram-z-end;
}
#vizGramEast,
#vizGramNorth,
#vizGramZ,
#vizGramXAxis {
	grid-column: grams-start / grams-end;
}
#vizGramEast {
	grid-row: gram-east-start / gram-east-end;
}
#vizGramNorth {
	grid-row: gram-north-start / gram-north-end;
}
#vizGramZ {
	grid-row: gram-z-start / gram-z-end;
}
#vizGramXAxis {
	grid-row: gram-x-axis-start / gram-x-axis-end;
	padding-top: 0.5em;
}
/*End Seismogram cell inner grid*/

#stationID {
	font-size: 20px;
	grid-row: h1-start / h1-end;
	grid-column: grams-start / grams-end;
	text-align: center;
	margin: 0;
}

.legend {
	font-size: 14px;
	grid-row-start: legend-start;
	grid-column: stations-start / stations-end;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-auto-rows: minmax(20px, max-content);
	z-index: 0;
	/* Hack to control tab focus outline size*/
	height: 0;
}
.legend .icon {
	display: inline-block;
	position: relative;
	margin-right: 10px;
}
.legend .icon-line {
	height: 1px;
	width: 20px;
	top: -3px;
	border-bottom: 2px solid black;
}
.line-simulation .icon-line {
	border-color: red;
}

.legend .line-item {
	grid-column: 2 / 3;
}

#vizStations {
	grid-row: stations-start / stations-end;
	grid-column: stations-start / stations-end;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

#vizStations svg:focus {
	outline: none;
}

#vizStations svg {
	background: white;
	border: 4px solid lightgray;
}

#vizGramXAxis svg {
		overflow: visible;
}

#vizGramXAxis .axis.x .domain {
	display: none;
}

.station-point {
	cursor: pointer;
}

.station-point:hover,
.station-point.active {
	fill: limegreen;
}

.gram-line {
	fill: transparent;
	stroke: black;
	stroke-width: 2;
}

.gram-line-sim {
	stroke: red;
}

.axis .tick text {
	font-size: 12px;
}

.axis .tick line {
	stroke: gray;
	stroke-width: 0.3;
}

path.domain {
	stroke-width: 0.6;
}

.viz-grams .axis.y .tick text {
	transform: translateX(-5px);
}

.axis.x .tick line {
	stroke-dasharray: 5px;
}

.stations-axis .tick line {
	stroke-dasharray: 0 !important;
	stroke-width: 0.3;
	stroke-opacity: 0.5;
}